:host {
    flex: 1;
    display: flex;
}

.tasks-container {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.tasks-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tasks-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-card-header-text {
    flex: 1;
}


.task {
    margin-top: 1em;
}

#done-list{
    text-decoration: line-through;
}

#Info {
    flex: 2;
    margin: 10px;
}
