<mat-card id="TODO-container" class="tasks-container" *ngIf="isTODODisplayed">
    <mat-card-title class="tasks-title"
        ><span id="TODO-title">TODO</span>
        <button mat-mini-fab color="primary" aria-label="Add task" id="add-button" (click)="onAdd(stateTODO)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-title>
    <div class="tasks-wrapper" [id]="stateTODO" cdkDropList [cdkDropListData]="tasksTODO" [cdkDropListConnectedTo]="[stateONGOING, stateDONE]" (cdkDropListDropped)="onDrop($event)">
        <app-task *ngFor="let task of tasksTODO" [task]="task" class="task" (click)="onTask(task)" (delete)="onDelete(task)" cdkDrag [cdkDragData]="task"></app-task>
    </div>
</mat-card>

<mat-card id="ONGOING-container" class="tasks-container" *ngIf="isONGOINGDisplayed">
    <mat-card-title class="tasks-title">
        <span id="ONGOING-title">ONGOING</span>
        <button mat-mini-fab color="primary" aria-label="Add task" id="add-button" (click)="onAdd(stateONGOING)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-title>
    <div class="tasks-wrapper" [id]="stateONGOING" cdkDropList [cdkDropListData]="tasksONGOING" [cdkDropListConnectedTo]="[stateDONE, stateTODO]" (cdkDropListDropped)="onDrop($event)">
        <app-task *ngFor="let task of tasksONGOING" [task]="task" class="task" (click)="onTask(task)" (delete)="onDelete(task)" cdkDrag [cdkDragData]="task"></app-task>
    </div>
</mat-card>

<mat-card id="DONE-container" class="tasks-container" *ngIf="isDONEDisplayed">
    <mat-card-title class="tasks-title"
        ><span id="DONE-title">DONE</span>
        <button mat-mini-fab color="primary" aria-label="Add task" id="add-button" (click)="onAdd(stateDONE)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-title>
    <div class="tasks-wrapper" [id]="stateDONE" cdkDropList [cdkDropListData]="tasksDONE" [cdkDropListConnectedTo]="[stateONGOING, stateTODO]" (cdkDropListDropped)="onDrop($event)">
        <app-task *ngFor="let task of tasksDONE" [task]="task" class="task" (click)="onTask(task)" (delete)="onDelete(task)" cdkDrag [cdkDragData]="task"></app-task>
    </div>
</mat-card>

<app-task-info (closeInfo)="onClose()" id="Info" *ngIf="isINFOisplayed"></app-task-info>
