/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 89, 185); 
}

/* Progress bar color based on the task state */ 
.todo-task .mat-progress-bar-fill::after {
    background-color: #c4c58c;
}

.ongoing-task .mat-progress-bar-fill::after {
    background-color: #8cc2c5;
}

.done-task .mat-progress-bar-fill::after {
    background-color: #8cc58c;
}

/* Toolbar color adjusted */ 
.mat-toolbar.mat-primary {
    background: #0b4e4e;
    color: #fff;
  }