:host {
    display: flex;
}

.wrapper {
    flex: 1;
    overflow-y: auto;
}

.info-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-positioning-box {
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    mat-card-subtitle{
        color: #000000d9;
    }
}

.task-content,
#creation-date {
    margin: 1em 0em;
    color: rgba(0,0,0,.54);
}

.task-content {
    display: flex;
    flex-direction: column;
    background-color: #0b4e4e08;
    border-radius: 5px;
    padding: 0.2em 0;
}

#close-button {
    margin-right: auto;
}

.mat-divider-horizontal {
    position: relative;
}

.comment {
    margin: 0.5em 0;
    .comment-header {
        display: flex;
        justify-content: space-between;
        margin: 0 1em;
    }
}

.current-user-comment {
    background-color: burlywood;
    border-radius: 5px;
    margin-right: 2em;
    .commenter{
        color: #673ab7;
    }
}

.another-user-comment {
    background-color: #3eabb1;
    border-radius: 5px;
    margin-left: 2em;
    .commenter{
        color: #0c5a19;
    }
}

.comment-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.mat-icon {
    font-size: 1.5em;
    vertical-align: middle;
}

.add-comment-button{
    margin-right: auto;
}

mat-form-field,
.comments {
    margin: 0 1em;
}

textarea{
    color: black;
}