
:host{
    display: flex;
}

.wrapper{
    flex: 1;
}

.info-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-positioning-box {
    margin-left: auto;
}

.content{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.task-content, #creation-date{
    margin: 1em 0em;
}

.task-content {
    display: flex;
    flex-direction: column;
}

.field-area{
    flex: 1;
}

#close-button {
    margin-right: auto;
}
