<mat-card [formGroup]="form" class="wrapper">
    <mat-card-title class="info-title">
        <button mat-icon-button aria-label="close task" id="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button>
        <span id="TASKINFO-title">TASK INFO</span>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.pristine" class="empty-positioning-box" (click)="onUpdate()">
            <mat-icon>upgrade</mat-icon>Update
        </button>
    </mat-card-title>

    <mat-card-content class="content">
        <mat-divider></mat-divider>

        <mat-card-subtitle id="creation-date">Creation Date: {{ task.creationDate | date }}</mat-card-subtitle>
        <!-- Task State -->
        <div>
            <mat-card-header>
                <mat-card-subtitle>
                    State:
                    <mat-button-toggle-group name="state group" formControlName="state" aria-label="State Group">
                        <mat-button-toggle value="TODO">TODO</mat-button-toggle>
                        <mat-button-toggle value="ONGOING">ONGOING</mat-button-toggle>
                        <mat-button-toggle value="DONE">DONE</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <!-- Task title -->
        <div class="task-content">
            <mat-card-header>
                <mat-card-subtitle>
                    <span>Title:</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-form-field class="field-area" appearance="outline">
                <textarea matInput name="title" cdkTextareaAutosize formControlName="title" type="title"></textarea>
            </mat-form-field>
        </div>
        <!-- Task Description -->
        <div class="task-content">
            <mat-card-header>
                <mat-card-subtitle>
                    <span>Description:</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-form-field class="field-area" appearance="outline">
                <textarea matInput name="description" cdkTextareaAutosize formControlName="description" type="description"></textarea>
            </mat-form-field>
        </div>
        <!-- Task Comments -->
        <div class="task-content">
            <mat-card-header>
                <mat-card-subtitle>
                    <span>Comments:</span>
                </mat-card-subtitle>
            </mat-card-header>
            <!-- Comments -->
            <div class="comments">
                <div class="comment-wrapper" *ngFor="let comment of comments">
                    <mat-card
                        class="comment"
                        [ngClass]="{
                            'current-user-comment': isCurrentUser(comment.commenter),
                            'another-user-comment': !isCurrentUser(comment.commenter)
                        }"
                    >
                        <mat-card-subtitle class="comment-header">
                            <span class="commenter"><mat-icon>person</mat-icon>{{ comment.commenter | titlecase }}</span>
                            <span><mat-icon>calendar_month</mat-icon>Date: {{ comment.date | date: 'short' }}</span>
                        </mat-card-subtitle>
                        <mat-card-content>{{ comment.content }}</mat-card-content>
                    </mat-card>
                </div>
            </div>
            <!-- Adding a comment -->
            <button mat-raised-button color="primary" class="add-comment-button" *ngIf="!addingComment" (click)="onAddComment()"><mat-icon>comment</mat-icon>Add a comment</button>
            <mat-form-field appearance="fill" *ngIf="addingComment" [formGroup]="commentForm">
                <textarea matInput cdkTextareaAutosize formControlName="content"></textarea>
                <div class="comment-buttons">
                    <button mat-raised-button color="warn" (click)="onCancelComment()">Cancel<mat-icon>cancel</mat-icon></button>
                    <button mat-raised-button color="primary" (click)="onSendComment()" [disabled]="commentForm.invalid">Send<mat-icon>send</mat-icon></button>
                </div>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>
