:host{
    flex: 1;
    display: flex;
}

#TODO-container, #ONGOING-container, #DONE-container{
    flex: 1;
    margin: 10px;
}

.tasks-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Info{
    flex: 2;
    margin: 10px;
}