<!-- ToolBar -->
<mat-toolbar color="primary">
    <span class="title">{{ project.title }}</span>
    <span class="title-id">#{{project.id}}</span>
    <mat-icon class="title-help" [matTooltip]="idTooltip">help</mat-icon>
</mat-toolbar>

<!-- Both the content and the sidenav contained in sidenav-container -->
<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav opened mode="side">
        <div class="sidenav">
            <div class="username">
                <mat-icon>person</mat-icon> <span>{{ username | titlecase }}</span>
            </div>
            <mat-divider></mat-divider>
            <button mat-button class="button" [ngClass]="{ selected: isOverviewSelected() }" (click)="onOverview()">
                <mat-icon>view_quilt</mat-icon> Overview
            </button>
            <button mat-button class="button" [ngClass]="{ selected: isTasksSelected() }" (click)="onTasks()">
                <mat-icon>task_alt</mat-icon> Tasks
            </button>
            <button mat-button class="button" [ngClass]="{ selected: isHistorySelected() }" (click)="onHistory()">
                <mat-icon>history</mat-icon> History
            </button>
            <mat-divider></mat-divider>
            <button mat-button class="button" (click)="onChangeProject()"><mat-icon>change_circle</mat-icon>Change Projects</button>
            <button mat-button class="button" (click)="onLogout()"><mat-icon>logout</mat-icon> Log out</button>
        </div>
    </mat-sidenav>
    <!-- Content dependant on url -->
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
