.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

.submitButton {
    display: flex;
    justify-content: center;
}

.failed-error {
    transform: 3s;
    background-color: #ff0000ad;
    color: white;
    display: flex;
    margin: 1em 0;
    align-items: center;
    overflow-wrap: break-word;
    mat-icon {
        margin-right: 0.2em;
    }
}

mat-form-field {
    margin: 0.1em 0;
}
