<form [formGroup]="form">
    <mat-card class="wrapper">
        <mat-card-title><mat-icon>person</mat-icon>{{ title }}</mat-card-title>
        <mat-form-field appearance="fill">
            <mat-label>{{ usernameLabel }}</mat-label>
            <mat-error *ngIf="form.get('username')?.invalid">{{ usernameError }}</mat-error>
            <input matInput name="username" formControlName="username" [placeholder]="usernamePlaceholder" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ passwordLabel }}</mat-label>
            <input matInput name="password" formControlName="password" type="password" [placeholder]="passwordPlaceholder" />
            <mat-error *ngIf="form.get('password')?.invalid">{{ passwordError }}</mat-error>
        </mat-form-field>
        <button
            #loginButton
            class="submitButton"
            mat-raised-button
            type="submit"
            color="primary"
            (click)="submit()"
            (keyup.enter)="submit()"
            [disabled]="form.get('username')?.invalid || form.get('password')?.invalid || isLoading"
        >
            <span *ngIf="!isLoading">{{ loginButtonText }}</span>
            <mat-spinner *ngIf="isLoading" [diameter]="buttonHeight > 0 ? buttonHeight : 10"></mat-spinner>
        </button>
    </mat-card>
</form>
