<mat-card class="auth-title"><span>{{displayedTitle}}</span></mat-card>
<mat-stepper label class="auth-stepper">
    <mat-step label="Login">
        <app-login [isLoading]="isLoading"></app-login>
        <button mat-button matStepperNext [disabled]="isLoading">Don't have an account? Create one!</button>
    </mat-step>
    <mat-step label="Register">
        <button mat-button matStepperPrevious [disabled]="isLoading"><mat-icon>arrow_back</mat-icon> Go back</button>
        <app-register [isLoading]="isLoading"></app-register>
    </mat-step>
</mat-stepper>
