:host{
    flex: 1;
    display: flex;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.history-container,
.stats-container,
.right-container,
.left-container {
    flex: 1;
}

.history-container,
.stats-container,
.left-container {
    margin: 10px;
}

.tasks-container {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.tasks-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.tasks-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    margin-top: 1em;
}

.history-container{
    display: flex;
    flex-direction: column;
    .history-wrapper{
        margin-top: auto;
        margin-bottom: auto;
    }
}

table {
    width: 100%;
}

.mat-column-date {
    width: 20%;
}

.mat-column-logger {
    width: 20%;
}
