:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-icon{
    margin-left: auto;
}

.create-project, .project{
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-height: 100vh;
    overflow: auto;
}

