<div>
    <mat-card class="projects">
        <mat-card-title>Projects</mat-card-title>
        <mat-card-subtitle>Choose a project or create one</mat-card-subtitle>
        <mat-card *ngFor="let project of projects" class="project">
            <button mat-button><span>{{ project.title }}</span></button>
        </mat-card>
        <mat-card class="create-project">
            <button mat-button (click)="submit()"><span>Create a new project <mat-icon>note_add</mat-icon></span></button>
        </mat-card>
    </mat-card>
</div>
