<mat-card class="projects wrapper">
    <mat-card-title>Projects</mat-card-title>
    <mat-card-subtitle>Choose a project or create one</mat-card-subtitle>
    <div class="projects" *ngIf="!isLoading">
        <div *ngFor="let project of projects">
            <mat-card class="project-container">
                <button mat-button class="project">
                    <div class="button-content" (click)="onProjectSelection(project)">
                        <span>{{ project.title }}</span
                        ><mat-icon class="button-icon">arrow_forward</mat-icon>
                    </div>
                </button>
                <mat-divider vertical="true"></mat-divider>
                <button mat-icon-button color="warn" (click)="onDelete(project)"><mat-icon>delete</mat-icon></button>
            </mat-card>
        </div>

        <mat-card class="create-project-container">
            <button mat-button class="create-project" (click)="openDialog()">
                <div class="button-content"><span>Create a new project</span><mat-icon class="button-icon">note_add</mat-icon></div>
            </button>
        </mat-card>
    </div>
</mat-card>
