.draggable {
    cursor: move;
}

.task {
    background-color: #d3d3d333;
}

.selected {
    background-color: #05819d63;
}

.task-header{
    display: flex;
    align-items: center;
}

.delete-button{
    margin-left: auto;
}